<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Test1-chrome">
        <parameter name="Browser" value="chrome"/>
       <classes>
           <class name="LoginPage"/>
           <class name="Recherche_produits"/>
       </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Test2-firefox">
        <parameter name="Browser" value="edge"/>
        <classes>
            <class name="LoginPage"/>
            <class name="Recherche_produits"/>
        </classes>
    </test>

</suite>